{%- assign sort_options = search.sort_options | default: collection.sort_options -%}
{%- assign sort_options = sort_options | reject: 'value', 'created-ascending' | reject: 'value', 'created-descending' -%}
{%- assign sort_by = search.sort_by | default: collection.sort_by -%}
{%- assign currently_selected = sort_options | where: 'value', sort_by | first -%}
{%- if currently_selected == blank and sort_options.size > 0 -%}
  {%- assign currently_selected = sort_options.first -%}
  {%- assign sort_by = currently_selected.value -%}
{%- endif -%}

{%- if sort_options.size > 0 -%}
  <div class="collection-filter-sort">
    <div class="collection-floating-bar__sort-sidebar__head">
      <h3>{{ 'collections.general.sort' | t }}</h3>
    </div>
    <div class="collection-floating-bar__sort-sidebar__body">
      <ul class="collection-floating-bar__sort-list">
        {%- for option in sort_options -%}
          {%- liquid
            assign sort_url = request.path
            if request.query_string contains 'sort_by='
              assign query_parts = request.query_string | split: '&'
              assign new_query = ''
              for part in query_parts
                unless part contains 'sort_by='
                  if new_query != blank
                    assign new_query = new_query | append: '&'
                  endif
                  assign new_query = new_query | append: part
                endunless
              endfor
              if new_query != blank
                assign sort_url = sort_url | append: '?' | append: new_query | append: '&sort_by=' | append: option.value
              else
                assign sort_url = sort_url | append: '?sort_by=' | append: option.value
              endif
            elsif request.query_string != blank
              assign sort_url = sort_url | append: '?' | append: request.query_string | append: '&sort_by=' | append: option.value
            else
              assign sort_url = sort_url | append: '?sort_by=' | append: option.value
            endif
          -%}
          <li class="collection-floating-bar__sort-item{% if sort_by == option.value %} is-active{% endif %}">
            <a
              href="{{ sort_url }}"
              data-plp-sort-option
              data-value="{{ option.value }}"
              {% if sort_by == option.value %}aria-current="true"{% endif %}
            >
              {{ option.name }}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
{%- endif -%}
