.blog-listing__card-media img {
  display: flex;
  height: 159px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.blog-listing__nav {
  display: flex;
  /* make items in a row */
  flex-wrap: nowrap;
  /* prevent wrapping */
  overflow-x: auto;
  /* horizontal scroll if needed */
  -webkit-overflow-scrolling: touch;
  /* smooth scroll on mobile */
  gap: 10px;
  /* optional spacing between links */
  /* optional vertical padding */
  scrollbar-width: thin;
  /* optional: thinner scrollbar for Firefox */
  justify-content: flex-end;
}

.blog-listing__nav::-webkit-scrollbar {
  height: 6px;
  /* height of horizontal scrollbar */
}

a.main-blog__filter-tag {
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 166.667% */
  letter-spacing: 1.2px;
  text-transform: uppercase;
  width: fit-content;
}

a.blog-listing__view-all {
  color: #000;
  text-align: center;

  /* RC26/Nav (ALL CAPS) */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 166.667% */
  letter-spacing: 1.2px;
  text-transform: uppercase;
}


.main-blog__filter-tag {
  white-space: nowrap;
  /* prevent text from breaking */
  flex-shrink: 0;
  /* prevent shrinking */
}

.main-blog__filter-tag--active {
  border-bottom: 1px solid #000;
}

a.blog-listing__view-all {
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;
}


.blog-listing-section-wrapper {
  border-bottom: 1px solid var(--e-5-e-5-e-5, #E5E5E5);
  background: rgba(255, 255, 255, 0.70);
  backdrop-filter: blur(30px);
  position: sticky;
  top: 0;
  z-index: 100;
  padding-top: 30px;

}


@media (max-width: 768px) {
  .blog-listing-section-wrapper {
    padding-top: 100px;
  }
}

@media (max-width: 720px) {
  .blog-listing__nav {
    justify-content: flex-start !important;
  }
}