.tmenu_submenu_type_mega.tmenu_submenu--desktop.tmenu_submenu_mega_position_fullwidth.tmenu_submenu_mega_fullscreen.tmenu_submenu {
  top: 100% !important;
}

.tmenu_submenu_type_mega .tmenu_item.tmenu_item_level_1:nth-child(3) .tmenu_item_link {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.tmenu_collection img {
  opacity: 1 !important;
  visibility: visible !important;
  transition: opacity 700ms ease;
}

.tmenu_collection img.hide-menu-image {
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none;
  width: 0 !important;
  height: 0 !important;
}
