.header__desktop__bar__c .tmenu_app .tmenu_nav .tmenu_item--root > .tmenu_item_link {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: fit-content !important;
  color: #fff;
  text-transform: uppercase;
  height: auto !important;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.header__desktop__bar__c .tmenu_wrapper {
  align-items: start !important;
}
.tmenu_app--vertical .tmenu_item--root {
  z-index: 999 !important;
}
.tmenu_navbar.tmenu_app--vertical {
  position: initial !important;
}
.tmenu_navbar.tmenu_app--vertical .tmenu_item--root>.tmenu_submenu_type_mega {
  width: 100vw !important;
  left: 0 !important;
  box-shadow: none !important;
}
.tmenu_submenu_type_mega>.tmenu_item.tmenu_item_level_1 {
  padding: 0 !important;
}
.tmenu_item.tmenu_item_level_1.tmenu_col:first-child {
  padding-left: 42px !important;
}
.tmenu_item.tmenu_item_level_1.tmenu_col:last-child {
  padding-right: 42px !important;
}
.header__desktop__bar__c .tmenu_nav .tmenu_item .tmenu_item_link {
  color: #fff !important;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px; 
  letter-spacing: 1.2px;
  text-transform: uppercase !important;
}
.tmenu_navbar.tmenu_app--vertical .tmenu_submenu_type_mega .tmenu_submenu {
  flex-direction: column !important;
  width: 100% !important;
}
.tmenu_submenu_type_mega.tmenu_submenu--desktop.tmenu_submenu_mega_position_fullwidth.tmenu_submenu_mega_fullscreen.tmenu_submenu {
  top: 0 !important;
  padding-left: var(--outer) !important;
  padding-right: var(--outer) !important;
  display: grid !important;
  width: 100% !important;
  grid-template-columns: 1fr 1fr 4fr 1fr 1fr !important;
  padding-top: 160px !important;
  z-index: -1 !important;
  backdrop-filter: blur(30px);
  background-color: rgba(55, 125, 113, 0.80) !important;
}

.tmenu_submenu_type_mega .tmenu_item.tmenu_item_level_1:nth-child(3) .tmenu_item_link {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.tmenu_collection img {
  opacity: 1 !important;
  transition: opacity 250ms cubic-bezier(0.75, 0.00, 0.25, 1);
  aspect-ratio: 407/240;
  object-fit: cover;
}

.tmenu_collection img.hide-menu-image {
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none;
  width: 0 !important;
  height: 0 !important;
}

.tmenu_nav.menu-has-active .tmenu_item:not(.tmenu_item_active) {
  opacity: 0.2;
  transition: opacity 250ms cubic-bezier(0.75, 0.00, 0.25, 1);
}

.tmenu_nav.menu-has-active .tmenu_item_active {
  opacity: 1;
}

.tmenu_item_active ~ .tmenu_item {
  opacity: 0.2;
  transition: opacity 250ms cubic-bezier(0.75, 0.00, 0.25, 1);
}
